body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  background-color: #e3ebfc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  color: #000000;
  padding-top: 20px;
}

.loading-spinner {
  margin-top: 200px;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.book-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  background: #f0f1e8;
  font-size: 18px;
  font-weight: normal;
}

.book-list-item {
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  width: 250px;
  height: 350px;
}

.book-list-item:hover {
  background: #cfcfcf;
  cursor: pointer;
}

.book-list-item-title {
  font-size: 20px;
  font-weight: bold;
}

.book-list-item-author {
  font-size: 18px;
  font-weight: normal;
}

.book-list-item-image {
  width: 200px;
  height: auto;
  margin-top: 15px;
}

.no-results-error {
  font-size: 20px;
  margin: 20px;
}

.error-message {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
